= partial 'header'


%section.donation-info
  %h2 Although it's a pretty neat idea, Radio Comb probably isn't the best use of your ${ price }, Instead why not <span class="donation-info-message">donate ${ price } to a cool charity or non profit</span>?

  %section.charities
    %h3 Here are some charities and non profit organisations I personally really like:

    %ol.charities-list
      %article.charities-list-item
        .charities-list-item-link= link_to 'Wikimedia Foundation', 'http://wikimediafoundation.org/wiki/WMFJA085/en'
        .charities-list-item-description Wikipedia is the #5 site on the web and serves 454 million different people every month – with billions of page views.


      %article.charities-list-item
        .charities-list-item-link= link_to 'charity:water', 'https://www.charitywater.org/donate/'
        .charities-list-item-description charity: water is a non-profit bringing clean and safe drinking water to people in developing nations. With 100% of public donations can fund water projects.


    %h3.other-charities
      Or:
      = link_to 'Search for charities you might like', 'http://www.charitynavigator.org/'
