= partial 'header'


%section.donation-info
  %h2 Although it's a pretty neat idea, Radio Comb probably isn't the best use of your ${ price }, Instead why not <span class="donation-info-message">donate ${ price } to a cool charity or non profit</span>?

  %section.charities
    %h3 Here are some charities and non profit organisations I personally really like:

    %ol.charities-list
      %li.charities-list-item= link_to 'Wikimedia Foundation', 'http://wikimediafoundation.org/wiki/WMFJA085/en'
      %li.charities-list-item= link_to 'charity:water', 'https://www.charitywater.org/donate/'

    %h3
      Or:
      = link_to 'Search for charities you might like', 'http://www.charitynavigator.org/'
