%footer
  %ol.footer-links
    %li= link_to 'Video from 8 out of 10 cats on Channel 4', 'http://www.channel4.com/programmes/8-out-of-10-cats'
    %li= link_to 'Source code available on GitHub', 'https://github.com/mariovisic/radiocomb'
