%footer
  = link_to 'Source code available on GitHub', 'https://github.com/mariovisic/radiocomb'
  = link_to 'Video sourced from 8 out of 10 cats on Channel 4', 'http://www.channel4.com/programmes/8-out-of-10-cats'
